.cargando-tabla{
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 400px;
    font-size: 20px;
    i{
        margin-top: 200px;
        font-size: 40px;
    }
}